
@model IEnumerable<Demo.BL.Models.DepartmentVM>

@{
     ViewBag.Title= "Department";
}

<div class="block-header">
    <a>Home /Department /Department Card</a>
    <h2>Department</h2>
</div>


<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>

<br />  <br />
<table class="table table-striped table-hover table-bordered text-center font-weight-bold">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Code</td>
            <td><a asp-controller="Department" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> Details</a></td>
            <td><a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> Update</a></td>
            <td><a asp-controller="Department" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> Delete</a></td>

        </tr>
        }
    </tbody>

</table>
